HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/target/**
src\main\resources\static/vue-manage-system/dist/**
src\main\resources\static/vue-manage-system/node_modules/**
src\main\resources\static/vue-user/dist/**
src\main\resources\static/vue-user/node_modules/**



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
